@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
	font-family: Arial, Helvetica, sans-serif;
}

/*Begin van hamburger menu*/
.mobile-container {
	max-width: 480px;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
}

.topnav #myLinks {
	display: none;
}

.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #a19131;
	color: white;
}
/*Einde van hamburger menu*/

/* Homepage begin */
.index-body {
	margin: 0;
	text-align: center;
}

.index-body header {
	background-color: #f1e6d2;
}

.index-body .wrapper {
	background-color: #e7d9bd;
}

.introductie-tekst h1,
p {
	font-family: "Libre Baskerville";
	padding: 0 40px 0 40px;
	margin: 0;
}

.index-body h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

.index-body p {
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.index-body .wrapper h2 {
	font-family: "Libre Baskerville";
	font-size: 15px;
	margin: 0;
	padding-top: 10px;
	margin-bottom: 10px;
}

.index-body .wrapper p {
	font-size: 10px;
}

.index-body .item h3 {
	font-family: "Libre Baskerville";
	font-size: 14px;
}

.index-body .item p {
	font-size: 10px;
}

.index-body .item2 h3 {
	font-family: "Libre Baskerville";
	font-size: 14px;
}

.index-body .item2 p {
	font-size: 10px;
}

.index-body img {
	width: 80%;
}

.index-body .item {
	margin-bottom: 10px;
}

.index-body .item2 {
	padding-bottom: 10px;
}
/* Homepage end */

/* Skills page begin */
.skills-body {
	margin: 0;
	background-color: #e7d9bd;
	text-align: center;
}

.skills-body img {
	width: 80%;
}

.skills-body h1 {
	font-size: 20px;
	margin-bottom: 10px;
	font-family: "Libre Baskerville";
}

.skills-body h2 {
	font-family: "Libre Baskerville";
	font-size: 14px;
}

.skills-body p {
	font-size: 10px;
	margin-top: 5px;
	padding-bottom: 10px;
}

.bilbo-sword-pic {
	width: 50%;
}
/* Skills page end */

/* Adventures page begin */
.adventures-body {
	margin: 0;
	background-color: #e7d9bd;
	text-align: center;
}

.adventures-body img {
	width: 80%;
}

.adventures-body h1 {
	font-family: "Libre Baskerville";
	font-size: 20px;
}

.adventures-body p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 10px;
}

.orc-army-pic {
	vertical-align: middle;
}
/* Adventures page end */

/* Footer begin*/
.footer a {
	font-size: 20px;
	line-height: 26px;
	padding: 15px;
	border-radius: 3px;
	text-decoration: 3px;
	color: black;
	background-color: #fff;
	margin-bottom: 10px;
	font-family: "Libre Baskerville";
	/*mobile version*/
	display: inline-block;
}

.footer a:hover {
	background-color: #d3debc;
}

.footer {
	display: inline-block;
	width: calc(100% - 120px);
	background-color: #c9b18a;
	text-align: center;
	padding: 0 60px 20px 60px;
}

.footer h4 {
	font-family: "Libre Baskerville";
	padding-top: 10px;
	font-size: 18px;
}

.footer p {
	font-size: 12px;
}

.footer .wrapper {
	background-color: blanchedalmond;
}
/*Footer end*/

/* Computer versie */
@media (min-width: 480px) {
	.topnav a {
		display: inline-block;
	}

	.topnav #myLinks {
		display: inline-block !important;
		float: right;
	}

	.topnav a.icon {
		display: none;
	}

	.index-body h1 {
		font-size: 45px;
	}

	.header-wrapper p {
		font-size: 20px;
	}

	.index-body .bilbo-pic {
		width: 30%;
	}

	.index-body .hobbit-house-pic {
		width: 30%;
	}

	.index-body .pipe-pic {
		width: 25%;
	}

	.index-body .frodo-pic {
		width: 25%;
	}

	.index-body .bilbo-dwarves-pic {
		width: 30%;
	}

	/* 
	.information {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.information div {
		width: 50%;
	}

	.information div:nth-child(1) {
		order: 1;
	}

	.information div:nth-child(2) {
		order: 2;
	}

	.information div:nth-child(3) {
		order: 3;
	}

	.information div:nth-child(4) {
		order: 4;
	} */

	.skills-body h1 {
		font-size: 45px;
	}

	.skills-body h2 {
		font-size: 23px;
	}

	.skills-body p {
		display: table;
		margin: auto;
		font-size: 18px;
		inline-size: 1000px;
	}

	.skills-body .bilbo-gandalf-pic {
		padding-top: 20px;
		width: 55%;
	}

	.skills-body .bilbo-contract-pic {
		padding-top: 20px;
		width: 55%;
	}

	.skills-body .bilbo-sword-pic {
		padding-top: 20px;
		width: 55%;
	}

	.skills-body .bilbo-gollum-pic {
		padding-top: 20px;
		width: 50%;
	}

	.footer h4 {
		font-size: 30px;
	}
	.footer p {
		font-size: 20px;
		padding-bottom: 30px;
	}
}
