@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
	font-family: Arial, Helvetica, sans-serif;
}

/*Begin van hamburger menu*/
.mobile-container {
	max-width: 480px;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
}

.topnav #myLinks {
	display: none;
}

.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #a19131;
	color: white;
}

/*Einde van hamburger menu*/

/* Homepage begin */
.index-body {
	margin: 0;
	background-color: #f1e6d2;
	text-align: center;
	font-family: "Libre Baskerville";
}

.introductie-tekst h1,
p {
	padding: 0 40px 0 40px;
}

.index-body h1 {
	font-size: 20px;
}

.index-body img {
	width: 80%;
}

.index-body p {
	font-size: 10px;
}

.index-body .wrapper h2 {
	font-size: 15px;
}

.index-body .wrapper p {
	font-size: 10px;
}

.item h3 {
	font-size: 12px;
}

.item p {
	font-size: 10px;
}
/* Homepage end */

/* Skills page begin */

/* Skills page end */

/* Experience page begin */

/* Experience page end */

@media (min-width: 480px) {
	.topnav a {
		display: inline-block;
	}

	.topnav #myLinks {
		display: inline-block !important;
		float: right;
	}

	.topnav a.icon {
		display: none;
	}
}
